<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1">
    <title>Snapper Affiliate Program</title>
    <link rel="icon" type="image/png" href="assets/image/logo/logo.png">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/bignumber.js@9.0.2/bignumber.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script defer data-domain="snapper.fi" src="https://plausible.io/js/plausible.js"></script>
    <script>
      setInterval(function() {
        web3.eth.getBlockNumber().then(data => {
          document.getElementById('blockNumber').innerHTML = data;
        });
      }, 3000);
    </script>
  </head>
  <body class="body" ng-app="myApp" ng-controller="myCtrl" style="text-align: -webkit-center;">
    <!-- MENU -->
    <div id="main">
      <div class="topnav">
        <a class="darking-logo" href="{{locationUrl}}" id="site" style="padding: 11px 0px;">
          <img src="assets/image/logo/logo.png" id="logoImage" id="logo" width="50px" height="50px" style="float: none;">
        </a>
        <a href="{{scan}}gastracker" target="_blank">
        <button class="menu-button" style="height: 25px; display: inline;float: left;margin-left: 25px;margin-top: 0px;" onclick="_gasPrice()">
          <i class="fas fa-gas-pump" style="font-size: 17px;color: #8d8d8d;"></i>
          <div style="display: inline; font-size: 17px;" id="gasEther"></div> 
        </button>
      </a>

        <div class="respomenu">
          <div style="display: inline" class="topnav-right">
            <button class="button-info menu-button" id="info" style="float:none;">
              <img src="assets/image/metamask.png" id="logo" width="25px" height="25px" style="float: left; margin-right: 10px;">
              <div style="display: inline; font-size: 14px;">{{toplen}}...{{endlen}}</div>
              <div class="loaderTx" id="loaderTx"></div>
              <div id="loaderTxs" style="padding: 0px;display: inline;"></div>
            </button>
            <div id="myModal" class="modal">
              <div class="modal-content" style="width: 600px; height: 370px;padding-bottom: 30px;">
                <span class="close">&times;</span>
                <h1 style="font-size: 20px; margin-top: 50px;padding: 25px; padding-top: 40px; padding-bottom: 10px; font-weight: 800;text-align: left;">Your Wallet</h1>
                <hr class="new1" />
                <button class="addressBar">
                  <div style="font-size: 20px;">{{account.address}}</div>
                </button>
                <div style="padding: 0px 20%;width: 100%;">
                  <a href="{{scan}}address/{{account.address}}" style="font-size: 18px;">Check on {{idscan}}
                    <i class="fa fa-check-square-o"></i>
                  </a>
                  <a onclick="copyRef()" style="font-size: 18px;">Copy Address <i class="fa fa-clone"></i>
                  </a>
                  <a id="input" style="font-size: 0px; height: 0px;">{{account.address}}</a>
                </div>
                <hr class="new1" style="margin-top: 70px;" />
                <h1 style="font-size: 20px;font-weight: 800;display: inline;float: left;padding-left: 25px;">Your Referral link</h1>
                <a style="font-size: 15px; float: right; margin-bottom: 20px;color:#60AE5D" href="referral.html{{locationRefUrl}}">Referral Stats</a>
                <table class="form-table-b2" style="background-color: rgb(240, 240, 240);box-shadow: none;width: 94%;border-radius: 15px;margin-left: 3%;">
                  <tr>
                    <td>
                      <a onclick="copyRef3()" style="font-size: 14px;float: left;margin-top: 4px;margin-left: 15px;color: #363636;">https://snapper.fi/?= <div style="display: inline;">{{toplen}}...{{endlen}}</div>
                      </a>
                      <a id="input3" style="font-size: 0px; height: 0px;">https://snapper.fi/?= <div>{{account.address}}</div>
                      </a>
                      <button onclick="copyRef3()" style="float: right;width: auto; font-size: 14px;font-weight: 700;color: #fff;background-color: #60AE5D;padding: 15px; height: 20px; border-radius: 15px ;">Copy</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <script>
              function copyRef(id) {
                var r = document.createRange();
                r.selectNode(document.getElementById("input"));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();
                return alert("Address copied successfully!");
              }

              function copyRef3(id) {
                var r = document.createRange();
                r.selectNode(document.getElementById("input3"));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();
                return alert("Referral copied successfully!");
              }
              var modal2 = document.getElementById("myModal");
              var btn2 = document.getElementById("info");
              var span2 = document.getElementsByClassName("close")[0];
              btn2.onclick = function() {
                modal2.style.display = "block";
              }
              span2.onclick = function() {
                modal2.style.display = "none";
              }
              window.onclick = function(event) {
                if (event.target == modal2) {
                  modal2.style.display = "none";
                }
              }
            </script>
          </div>
          <!-- LIST -->
          <div style="display: inline" class="topnav-right">
            <div style="margin-top: 50px; display: inline;"></div>
            <button class="accordion menu-button" style="height: 25px;">List <i class="fa fa-chevron-down"></i>
            </button>
            <div class="panel">
              <form class="networkList">
                <div class="lighting" style="padding: 0px;">
                  <table class="test" style="width:100%;margin-left: 10px;" id='myTable2'>
                    <tr>
                      <td>
                        <a target="_blank" href="https://etherscan.io/tokens">
                          <img src="assets/image/eth.png" width="35px" height="35px">
                        </a>
                      </td>
                      <td style="padding-right: 20px;">Ethereum</td>
                      <td>
                        <button style="width:125px;border-radius: 10px;padding: 0px;">
                          <div style="text-align: center;padding: 10px 0px;">
                            <a target="_blank" href="https://etherscan.io/tokens" style="color: white;float: none;">Etherscan</a>
                          </div>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a target="_blank" href="https://bscscan.com/tokens">
                          <img src="assets/image/bnb.png" width="35px" height="35px">
                        </a>
                      </td>
                      <td>Binance</td>
                      <td>
                        <button style="width:125px;border-radius: 10px;padding: 0px;">
                          <div style="text-align: center;padding: 10px 0px;">
                            <a target="_blank" href="https://bscscan.com/tokens" style="color: white;float: none;">Bscscan</a>
                          </div>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a target="_blank" href="https://polygonscan.com/tokens">
                          <img style="border-radius: 25px" src="assets/image/matic.png" width="35px" height="35px">
                        </a>
                      </td>
                      <td>Polygon</td>
                      <td>
                        <button style="width:125px;border-radius: 10px;padding: 0px; margin-right:20px">
                          <div style="text-align: center;padding: 10px 0px;">
                            <a target="_blank" href="https://polygonscan.com/tokens" style="color: white;float: none;">Polygonscan</a>
                          </div>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a target="_blank" href="https://snowtrace.io/tokens">
                          <img src="assets/image/avax.png" width="35px" height="35px">
                        </a>
                      </td>
                      <td style="padding-right: 20px;">Avalanche</td>
                      <td>
                        <button style="width:125px;border-radius: 10px;padding: 0px;">
                          <div style="text-align: center;padding: 10px 0px;">
                            <a target="_blank" href="https://snowtrace.io/tokens" style="color: white;float: none;">Snowtrace</a>
                          </div>
                        </button>
                      </td>
                    </tr>
                  </table>
                  <script>
                    function searchTable() {
                      var input, filter, found, table, tr, td, i, j;
                      input = document.getElementById("myInput-base");
                      filter = input.value.toUpperCase();
                      table = document.getElementById("myTable2");
                      tr = table.getElementsByTagName("tr");
                      for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td");
                        for (j = 0; j < td.length; j++) {
                          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                          }
                        }
                        if (found) {
                          tr[i].style.display = "";
                          found = false;
                        } else {
                          tr[i].style.display = "none";
                        }
                      }
                    }

                    function myFunction() {
                      var copyText = document.getElementById("myInput");
                      copyText.select();
                      copyText.setSelectionRange(0, 99999);
                      document.execCommand("copy");
                      alert("Copied the text: " + copyText.value);
                    }
                  </script>
                  <div class="space10"></div>
                </div>
              </form>
            </div>
            <script>
              var acc = document.getElementsByClassName("accordion");
              var i;
              for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                  this.classList.toggle("active");
                  var panel = this.nextElementSibling;
                  if (panel.style.display === "block") {
                    panel.style.display = "none";
                  } else {
                    panel.style.display = "block";
                  }
                });
              }
            </script>
            <!-- ENDLIST -->
          </div>
        </div>
      </div>
    </div>
    <script>
      function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
    <!-- REFERRAL INTRO -->
    <h1 style="display: inline; font-size: 35px;">
      <strong>Referral</strong>
    </h1>
    <h1 style="font-size: 35px; display: inline;"> Program</h1>
  </br>
  <h1 style="font-size: 26px; display: inline;">1 link... For 4 Chains</h1>
  </br>
    <h1 style="font-size: 18px;">
      <strong>Instantly earn 10% from every transaction made through your link!</strong>
    </h1>
    <table class="form-table-b1" style="display: inline;">
      <tr>
        <td style="width: 600px;">
      <tr style="display: ruby;">
        <td>
          <table class="form-table-b2" style="margin:0px 0px 20px 0px; background-color: #fff;box-shadow: none;width: 100%;padding: 20px 0px;border-radius: 25px;">
            <tr>
              <td>
                <a onclick="copyRef2()" style="font-size: 22px;float: left;margin-top: 4px;margin-left: 15px;color: #363636;">https://snapper.fi/?= <div style="display: inline">{{toplen}}...{{endlen}}</div>
                </a>
                <a id="input2" style="font-size: 0px; height: 0px;">https://snapper.fi/?= <div>{{account.address}}</div>
                </a>
                <button onclick="copyRef2()" style="float: right;width: 50px; font-size: 15px;font-weight: 700;color: #fff;background-color: #60AE5D; height: 20px;padding: 15px; margin-right: 20px; margin-left: -100px;margin-top: -15px;">Copy</button>
              </td>
            </tr>
          </table>
        </td>
        <td></td>
      </tr>
      <script>
        function copyRef2(id) {
          var r = document.createRange();
          r.selectNode(document.getElementById("input2"));
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(r);
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
          return alert("Referral copied successfully!");
        }
      </script>
      </td>
      </tr>
    </table>
    <!-- NETWORK -->
    <form class="form-table-b1" ng-submit="checkref()">
      <div class="space10"></div>
      <div class="center" style="margin-top:15px; display: inline;">

        <div class="cc-selector" style="display: inline; margin-right: 10px;">
          <div hidden>
            <input type="radio" ng-model="erc20.network" id="n1" name="network" ng-value="true" ng-checked="erc20.network" style="margin-right: 10px;" onclick="getBalance()">
            <label class="drinkcard-cc ether" for="n1"></label>
            <input type="radio" ng-model="erc20.network" id="n2" name="network" ng-value="false" ng-checked="erc20.network.isBnb" style="margin-right: 10px;" onclick="getBalance()">
            <label class="drinkcard-cc binance" for="n2"></label>
            <input type="radio" ng-model="erc20.network" id="n3" name="network" ng-value="false" ng-checked="erc20.network.isMatic" style="margin-right: 10px; border-radius: 25px;" onclick="getBalance()">
            <label class="drinkcard-cc polygon" for="n3"></label>
          </div>
        <button type="submit" style="padding: 8px; margin-left:20px;width: auto;background: #60AE5D;color: #fff;vertical-align: bottom;">
            <b>Become a Partner (Up to 26%!)</b>
          </button>
        </div>
      </div>
    </form>
    <!-- STEP 2 -->
    <form class="form2-table" style="background-color: transparent;" ng-show="formStep == 2"  ng-submit="step3()">
      <tr>
        <td style="vertical-align: top;">
          <table class="form-table-b2" style="margin-bottom: 0px; background-color: #fff;border-radius: 25px; padding: 20px;">
            <tr>
              <td>
            <tr style="vertical-align: baseline;">
              <td style="width: 350px;">
                <p style="font-size: 24px; margin: 0px; text-align: left;font-weight: 500;">Network info ({{chain}})</p>
              </br>
                <p style="text-align: center; font-size: 14px; display: inline;font-family: monospace;">Your Balance:
                <div id="mybalance" style="display: inline"></div> {{currency}}
                </p>
                  Your Address: <a style="color:#3c64e7;" target="_blank" href="{{scan}}address/{{address}}">{{toplen}}...{{endlen}}</a>
                </br>
                  Partner Contract: <a style="color:#3c64e7;" target="_blank" href="{{scan}}address/{{partnerManager_address}}/#readContract">{{sm1}}...{{sm2}}</a>
                </br>
                  Block Number: <span style="display: inline-block;" id="blockNumber"></span>
                <button type="submit" style="padding: 8px; margin-top: 20px;width: 90%;background: #60AE5D;color: #fff;vertical-align: bottom;">
                  <b>JOIN NOW!</b>
                </button>

              </td>
              <td style="width: 350px;">
                <p style="padding-bottom: 0px;font-size: 32px; margin: 0px; text-align: left;font-weight: 500;">How it works</p>
                <p style="padding-top: 5px;font-size: 13px; margin: 0px; text-align: left;">
                  
                  Each transaction is divided according to the type of input that the Smart Contract receives.
                  By getting the referral link through the site link, our protocol communicates with smart contracts, and is therefore able to give you your share.</br></br>
                  
                  Another of our contracts is used to map Partner accounts. Our protocol will check if the referer account is Partner or not, in case it is Partner then additional fees will be applied.</br>
                </p>
              </td>
            </tr>
            <div class="space10"></div>
        </td>
      </tr>
      </table>
      </td>
      </tr>
    </form>

    <form class="form2-table" style="background-color: transparent;" ng-show="formStep == 3" ng-submit="submitPartner()">
      <tr>
        <td style="vertical-align: top;">
          <table class="form-table-b2" style="margin-bottom: 0px; background-color: #fff;border-radius: 25px; padding: 20px;">
            <tr>
              <td>
            <tr style="vertical-align: baseline;">
              <td style="width: 350px;">
                <p style="font-size: 24px; margin: 0px; text-align: left;font-weight: 500;">Become a Partner</p>
              </br>
                <p style="text-align: left; font-size: 14px; display: inline;font-family: monospace;">Your Balance:
                <div id="mybalance" style="display: inline"></div> {{currency}}
                </p>

                <input id="newPartner" style="height: 70px;width:300px; border-radius: 20px 0px 0px 0px;" type="text" placeholder="Partner Address" ng-model="newPartner" maxlength="42" minlength="42" autofocus #newPartner />
                 
                <button onclick="unhide()" class="button-deposit" type="submit" ng-disabled="processing || ethDeposited">Deposit
                  </button>


                  <button class="button-partner" type="submit" >
                    <b>Become Partner</b>
                  </button>

              </td>
              <td style="width: 350px;">
                <p style="padding-bottom: 0px;font-size: 32px; margin: 0px; text-align: left;font-weight: 500;">Fast & Easy</p>
                <p style="padding-top: 5px;font-size: 13px; margin: 0px; text-align: left;">By depositing and submitting you request, your address will automatically become a Partner.</p>
                <p style="padding-top: 5px;font-size: 13px; margin: 0px; text-align: left;">
                  </br> 1) Pay 1 ETH to our contract; 
                  </br> 2) Set your Partner Address and click "Become Partner"; 
                  </br> 3) You will earn 26% direct plus 8% for referer. 
                  </br> 4) You can check if your address is Partner by calling 'Partner' function on <a style="color:#60AE5D" href="https://rinkeby.etherscan.io/address/0x566bba77e09ee3eb78df4d3999320af30bab5388#readContract" target="_blank">our Smart Contract directly on etherscan.io</a></p>
              </td>
            </tr>
            <div class="space10"></div>
        </td>
      </tr>
      </table>
      </td>
      </tr>
    </form>

    <p style="padding:17px;padding-top: 5px;font-size: 13px;text-align: center; max-width:600px">
      <b>*Note:</b> Do more with less, thanks the <b>multilevel system</b>! You just need to add the referer Address after your referral link over here, you will get <b>6%</b> and your referer <b>4%</b> of any commissions!</br>
      </br>
      <b>"https://domain.com" + "/?=YOUR_ADDRESS" + "?=REFERER_ADDRESS"</b></br>
    </br></br>
    <b>Check your referral Link</b> by open it and click on the "© Snapper.fi 2022" in the footer.
    </p>
    <div class="space10"></div>
    <!-- FOOTER -->
    <ul class="lighting-menu">
      <div class="tooltip" style="border-bottom: 0px dotted #000;position: relative;">
        <a class="lighting-menu" style="font-size: 12px;display: contents;">
          <p>WebSocket: <a style="color: rgb(85, 170, 0);font-size: 12px;display: contents;">
              <i class="fa fa-circle"></i> Connected </a>
            <span class="tooltiptext">Our WebSocket is correctly connected to the Server.</span>
          </p>
        </a>
      </div>
      </br>
    
      <a class="lighting-menu" style="font-size: 12px;" onclick="unhidePartnerInfo(), referralInfo()">
        <p>© Snapper.fi 2022</p>
        <div id="partnerInfo">
            <div style="color: #a5a5a5;font-weight: 600;" id="isPartner_footer"></div>
            <div style="color: #b5b5b5;" id="ref_status"></div>
            <div style="color: #b5b5b5;" id="ref_quote"></div>
            <div style="color: #b5b5b5;" id="ref_referer"></div>
            <div style="color: #b5b5b5;" id="ref_quote_2"></div>
            <div style="color: #b5b5b5;" id="ref_referer_2"></div>
            <div style="color: #b5b5b5;" id="ref_link"></div>
            
            <div style="font-size: 0px; display: inline" id="partner_bool"></div>

            <div style="font-size: 0px; display: inline" id="refBaseQuote"></div>
            <div style="font-size: 0px; display: inline" id="refBaseQuoteRef"></div>
            <div style="font-size: 0px; display: inline" id="refMultiQuote"></div>
            <div style="font-size: 0px; display: inline" id="refMultiQuoteRef"></div>
            
            <div style="font-size: 0px; display: inline" id="refBaseQuoteDev"></div>
            <div style="font-size: 0px; display: inline" id="refMultiQuoteDev"></div>
          </div>
      </a>
    </ul>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.5/web3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="./assets/js/script.min.js?v=4"></script>
    <script src="./assets/js/addr.min.js?v=2"></script>
    <script src="./assets/js/chain.min.js?v=2"></script>
  </body>
</html>
