@media screen and (max-width: 460px) {
  .topnav a,
  .topnav-right {
    display: inline;
    text-align: center;
  }
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    display: inline;
  }
  .respomenu {
    text-align: center;
  }

  .modal-content {
    color: #363636;
    background-color: #fff;
    margin: auto;
    border-radius: 25px;
    padding: 0;
    border: 0 solid transparent;
    width: auto !important;
    margin: 0px 25px !important;
  }
  .addressBar {
    width: 88%;
    background: rgb(240, 240, 240);
    padding: 18px 3%;
    color: #363636;
  }
  .addressBar:hover {
    width: 88%;
    background: rgb(240, 240, 240);
    padding: 18px 3%;
    cursor: pointer;
    color: #60ae5d;
  }
}
@media screen and (max-width: 790px) {
  .topnav a,
  .topnav-right {
    display: inline;
    text-align: center !important;
  }
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    display: inline-flex;
  }
  .respomenu {
    text-align: right;
  }
  .modal-content {
    color: #363636;
    background-color: #fff;
    margin: auto;
    border-radius: 25px;
    padding: 0;
    border: 0 solid transparent;
    width: auto !important;
    margin: 0px 25px !important;
  }
  .addressBar {
    width: 94%;
    background: rgb(240, 240, 240);
    padding: 18px 3%;
    color: #363636;
  }
  .addressBar:hover {
    width: 94%;
    background: rgb(240, 240, 240);
    padding: 18px 3%;
    cursor: pointer;
    color: #60ae5d;
  }
  .networkList {
    margin-right: 0%;
  }
}

html {
  height: auto;
}
form {
  padding: 30px;
  max-width: auto;
  margin: 0 auto;
}
.form-table {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
  background: #25222a;
}
.form2-table {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
  background: #25222a;
}
.form2-table:hover {
  background: #323036;
  cursor: pointer;
}
a {
  padding: 10px;
  color: #fff;
  background-color: #25222a;
  text-decoration: none;
  background: 0 0;
}
.youtube-note,
form > h1,
form > p {
  text-align: center;
}
.body {
  color: #363636;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(240, 240, 240);
}
.respomenu {
  float: right;
  width: 600px;
  text-align: right;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  width: -webkit-fill-available;
  margin: 30px 10%;
}
.topnav a {
  float: left;
  color: #363636;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  cursor: pointer;
}
.topnav a.active {
  background-color: transparent;
  color: #ffd164;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topnav-right {
  float: none;
  text-align: right;
}

/* BUTTONS **/

.menu-button {
  color: #363636 !important;
  margin-top: 10px;
  border-radius: 10px;
  background: #fff;
  display: inline;
  width: auto !important;
  border: 1px solid transparent !important;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
}
.menu-button:hover {
  color: #363636 !important;
  margin-top: 10px;
  border-radius: 10px;
  background: #fff !important;
  display: inline;
  width: auto !important;
  border: 1px solid #ddd !important;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
}

.accordion {
  text-align: left;
  outline: none;
  font-size: 15px;
}
.accordion:hover,
.active {
  text-align: left;
  font-size: 15px;
}

/* General home Box **/

.darking {
  text-align: left;
  color: #363636;
  border-radius: 25px;
  background: #fff;
  padding: 0 10px 3px;
}
.darking:hover {
  text-align: left;
  color: #363636;
  border-radius: 25px;
  background: #fff;
  padding: 0 10px 3px;
}
.darking-logo {
  text-align: left;
  color: #fff;
  border-radius: 50px;
  background: 0 0;
  padding: 0;
}
.darking-menu {
  padding: 20px;
  color: silver;
  background: 0 0;
}
.darking-menu:hover {
  padding: 20px;
}

.lighting {
  text-align: left;
  color: #363636;
  border-radius: 25px;
  background: #fff;
  padding: 0 10px 3px;
}
.lighting:hover {
  text-align: left;
  color: #363636;
  border-radius: 25px;
  background: #fff;
  padding: 0 10px 3px;
}
.lighting-menu {
  padding: 20px;
  color: #363636;
  background: 0 0;
}
.lighting-menu:hover {
  padding: 20px;
}

/* list menu **/
table.test {
  border-collapse: collapse;
}

table.test th {
  padding-bottom: 0px;
  padding-top: 10px;
}

table.test td {
  padding-top: 10px;
}
.panel {
  display: none;
  background-color: transparent;
  overflow: hidden;
}
.networkList {
  background: transparent;
  position: fixed;
  padding-top: 15px;
  padding-left: 60px;
  margin-right: 8%;
  right: 0;
}

.slider {
  margin-top: 13px;
  padding: 5px;
  width: 95% !important;
  margin-left: 2.5%;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: rgb(240, 240, 240);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
  background-size: 800%;
  z-index: -1;
  animation: steam 60s linear infinite;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #6dc26a;
  cursor: pointer;
  border-radius: 25px;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

button {
  color: #fff;
  font-size: 21px;
  border-radius: 10px;
  width: 100%;
  padding: 15px 0px;
  background: #1a70e1;
  border: 0;
}
button:hover {
  color: #fff;
  font-size: 21px;
  border-radius: 10px;
  width: 100%;
  padding: 15px 0px;
  background: #1d5aaa;
  border: 0;
}
.button_getStarted {
  color: #fff;
  font-size: 18px;
  border-radius: 0px 0px 21px 21px;
  width: 470px;
  margin-left: -10px;
  margin-bottom: -15px;
  padding: 25px 0px;
  background: #6dc26a;
  border: 0;
}
.button_getStarted:hover {
  color: #fff;
  font-size: 18px;
  border-radius: 0px 0px 21px 21px;
  width: 470px;
  margin-left: -10px;
  margin-bottom: -15px;
  padding: 25px 0px;
  background: #60ae5d;
  border: 0;
}

.input-holder {
  border-radius: 10px;
  margin: 0 auto;
  padding: 0;
}
.input-holder-2 {
  border-radius: 10px;
  margin: 10px auto;
  padding: 0;
  text-align: right;
}
.btn-holder {
  margin: 12px auto;
}

.blank {
  text-align: left;
  color: #fff;
  border-radius: 25px;
  background: 0 0;
  text-align-last: right;
  width: 10px;
  padding: 15px;
  position: absolute;
}
.scan {
  background: 0 0;
}
.alert {
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  background: #15263c;
  padding: 1px 15px;
}
input[type="number"],
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 25px 16px;
  background: rgb(240, 240, 240);
  border-radius: 20px;
  border: 0;
  color: #363636;
  font-size: 18px;
}
input[type="address"] {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  background: #212429;
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-size: 18px;
}
input[type="number"]:focus,
input[type="text"]:focus {
  outline: none;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
}
input[type="radio"]:after {
  width: 0;
  height: 0;
  border-radius: 0;
}
input[type="radio"]:checked:after {
  width: 0;
  height: 0;
  border-radius: 0;
}
input[type="radiob"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #2a10be;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #fff;
}
.input-partner {
  margin-top: 20px 0px 0px 0px; 
  width:300px; 
  border-radius: 20px 20px 0px 0px;
  box-sizing: border-box;
  padding: 25px 16px;
  background: rgb(240, 240, 240);
  border: 0;
  color: #363636;
  font-size: 18px;
}
.input-partner:focus {
  outline: none;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
}

.button-partner {
  margin-right: 20px;
  margin-bottom: 0px;
  width:370px;
  color: #fff;
  font-size: 18px;
  border-radius: 0px 0px 21px 21px;
  padding: 25px 0px;
  background: #60ae5d;
  border: 0;
}
.button-partner:hover {
  margin-right: 20px;
  margin-bottom: 0px;
  width:370px;
  color: #fff;
  font-size: 18px;
  border-radius: 0px 0px 21px 21px;
  padding: 25px 0px;
  background: #60ae5d;
  border: 0;
}
.button-deposit {
  display: inline;
  margin: 0px;
  margin-left: -4px;
  width:70px;
  height: 70px;
  color: #fff;
  font-size: 16px;
  border-radius: 0px 20px 0px 0px;
  padding: 0px;
  background: #1a70e1;
  border: 0;
}
.button-deposit:hover {
  display: inline;
  margin: 0px;
  margin-left: -4px;
  width:70px;
  height: 70px;
  color: #fff;
  font-size: 16px;
  border-radius: 0px 20px 0px 0px;
  padding: 0px;
  background: #1a4ee1;
  border: 0;
}

.button-2 {
  color: #fff;
  font-size: 18px;
  border-radius: 0px 0px 21px 21px;
  width: 470px;
  margin-left: -10px;
  margin-bottom: -15px;
  padding: 25px 0px;
  background: #60ae5d;
  border: 0;
}
.button-2:hover {
  color: #fff;
  font-size: 18px;
  border-radius: 0px 0px 21px 21px;
  width: 470px;
  margin-left: -10px;
  margin-bottom: -15px;
  padding: 25px 0px;
  background: #4c9149;
  border: 0;
}
.button-3 {
  color: #fff;
  font-size: 12px;
  border-radius: 50px;
  width: 100%;
  padding: 3px 6px;
  background: #0c47b4;
  border: 0;
}
.button-3:hover {
  color: #fff;
  font-size: 12px;
  border-radius: 50px;
  width: 100%;
  padding: 3px 6px;
  background: #2252ac;
  border: 0;
}
.button-info {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  background: 0 0;
  border: 0;
  float: right;
}
.button-info:hover {
  color: #8a8a8a;
  font-size: 20px;
  padding: 10px;
  background: 0 0;
  border: 0;
  float: right;
}
.button-table[type="table"] {
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  width: 100%;
  padding: 13px;
  background: 0 0;
  border: 0;
}
.button-table[type="table"]:hover {
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  background: 0 0;
  border: 0;
}

/* last step 3 **/
.info {
  padding: 20px;
  background-color: rgb(240, 240, 240);
  color: #363636;
  line-height: 30px;
}
.kv {
  overflow: hidden;
}
.kv-2 {
  overflow: inherit;
  font-size: 13px;
}
.kv > div:first-child {
  float: left;
}
.kv > div:nth-child(2) {
  float: right;
}
.kv-2 > div:first-child {
  float: left;
}
.kv-2 > div:nth-child(2) {
  float: right;
}
.gain {
  color: #60ae5d;
  font-weight: 700;
}
.yellow {
  color: #f3ba2f;
  font-weight: 700;
}
.spend {
  color: #1a70e1;
  font-weight: 700;
}
.highlight {
  text-align: center;
  font-size: 12px;
  background-color: #28e63867;
  color: #fff;
  padding: 8px;
  line-height: 25px;
  letter-spacing: 1.75px;
}
.super {
  vertical-align: super;
}
.center {
  text-align-last: center;
}
.tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted #000;
}
.tooltip-2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #000;
}
.tooltip .tooltiptext {
  font-size: 12px;
  visibility: hidden;
  width: 350px;
  background-color: #0e0f11;
  color: #fff;
  text-align: left;
  border-radius: 12px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cc-selector-2 input {
  position: absolute;
  z-index: 999;
}
.ether {
  background-image: url("../image/eth.png");
}
.binance {
  background-image: url("../image/bnb.png");
}
.polygon {
  background-image: url("../image/matic.png");
  border-radius: 25px;
}
.cc-selector input:active + .drinkcard-cc,
.cc-selector-2 input:active + .drinkcard-cc {
  opacity: 0.9;
}
.cc-selector input:checked + .drinkcard-cc,
.cc-selector-2 input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
a:visited {
  color: #888;
}
a {
  color: #444;
  text-decoration: none;
}
.space50 {
  margin-bottom: 50px;
}
.space25 {
  margin-bottom: 2.5%;
}
.space10 {
  margin-bottom: 1%;
}

/* menu popup **/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}
.modal-content {
  color: #363636;
  background-color: #fff;
  margin: auto;
  border-radius: 25px;
  padding: 0;
  border: 0 solid transparent;
  width: 400px;
}
.close {
  color: #ff0079;
  float: right;
  padding-top: 30px;
  padding-right: 25px;
  font-size: 26px;
  font-weight: 700;
}
.close:focus,
.close:hover {
  color: #363636;
  text-decoration: none;
  cursor: pointer;
}
.addressBar {
  margin: 15px 20px;
  width: 90%;
  background: rgb(240, 240, 240);
  padding: 18px 10px;
  color: #363636;
}
.addressBar:hover {
  margin: 15px 20px;
  width: 90%;
  background: rgb(240, 240, 240);
  padding: 18px 10px;
  cursor: pointer;
  color: #60ae5d;
}

.alert {
  padding: 20px;
  background-color: #2c76d8;
  color: #fff;
}
.alert-2 {
  height: 25px;
  padding-top: 6px;
  padding-right: 20px;
  font-size: 11px;
  background-color: #2c76d8;
  border-radius: 0;
  color: #fff;
}
.closebtn {
  margin-left: 15px;
  color: #fff;
  font-weight: 700;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: #fff;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  float: left;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-left: 0;
  grid-gap: 0;
}
.grid-container > div {
  text-align: center;
  padding: 10px 0;
}
.item1 {
  grid-row: 1 / span 2;
}

.bordered {
  border-bottom: 1px solid #000;
}
hr.new1 {
  border: 1px solid rgb(240, 240, 240);
}
.topnav #myLinks {
  display: none;
}
.topnav a.icon {
  background: 0 0;
}

/* LATERAL MENU **/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #ddd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 25px;
  color: #363636;
  display: block;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

ul#menu {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  float: none;
  position: absolute;
  top: 55px;
  left: 48.3%;
  transform: translate(-50%, -50%);
}
ul#menu li {
  font-size: 18px;
  background-color: transparent;
  border-bottom: 0 solid transparent;
  display: block;
  height: 40px;
  margin: 0;
  float: left;
}
ul#menu li a {
  color: #363636;
  display: block;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  height: 30px;
  text-align: center;
  background: 0 0;
}
ul#menu li.active,
ul#menu li:hover {
  background-color: transparent;
  border-bottom: 5px solid transparent;
}

.amtGone {
  margin-right: -10px;
  margin-bottom: -26px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  width: 50px;
  padding-top: 15px;
  display: inline;
  background: transparent;
  float: right;
  position: relative;
}
.amtGone:hover {
  margin-right: -10px;
  margin-bottom: -26px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  width: 50px;
  padding-top: 15px;
  display: inline;
  background: transparent;
  float: right;
  position: relative;
}
* {
  box-sizing: content-box;
}
.column {
  float: left;
  width: auto;
  padding: 10px;
  height: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.blink {
  animation: blinker 0.6s linear infinite;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*  second step home **/
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #2c76d8;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffffe0;
  color: #363636;
  min-width: 470px;
  z-index: 1;
  border-radius: 0px 0px 21px 21px;
  margin-left: -10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.loaderTx {
  border: 2px solid #ddd;
  border-radius: 50%;
  border-top: 2px solid #363636;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position: absolute;
  margin-left: 10px;
  display: inline;
  visibility: hidden;
}
